.page__body{

}


.page__body-img-containers{
    margin-top: 10px;
    margin-left: 14px;
    width: 100%;
    height: 520px;
    display: flex;
    
}

.page__body-img-container{
    max-width: 900px;
    max-height: 500px;
    position: relative;
}

.page__body-img{
    width: 900px;
    height: 500px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.page__body-img:first-child{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.page__body-img-container-content{
    margin-left: 2%;
    width: 34%;
    height: 500px;
    background-color: white;
}

.page__body-img-container-content h2{
    font-size: 28px;
    margin-left: 18%;
    margin-top: 6%;
    font-family: 'Pangolin';
    color: #333;
}

.page__body-img-container-content h2:nth-child(3){
    font-size: 28px;
    margin-left: 35%;
    margin-top: 6%;
}

.page__body-img-container-content p{
    margin-top: 6%;
    margin-left: 10%;
    width: 82%;
    font-family: 'Pangolin';
    line-height: 25px;
    font-size: 18px;
}

.page__body-img-container-content p span{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

/* Button */
.btn{
    padding: 30px 20px;
    background-color: rgba(46, 104, 211, 0.65);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(46, 104, 211);
}

.btn__left{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.btn__right{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

.page__body-mission{
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.page__body-mision-container{
    display: flex;
    margin: auto;
}

.page__body-mission-img{

}

.page__body-mission-content{
    width: 570px;
}

.page__body-mission-content h3{
    font-family: sans-serif;
    font-size: 28px;
    line-height: 1.2;
    margin-top: 15%;
    color: rgb(46, 104, 211);
    font-weight: bold;
    font-family: 'Pangolin';
}

.page__body-mission-content p{
    margin-top: 3%;
    line-height: 1.4;
    font-family: 'Pangolin';
}

.page__body-mission-content p span{
    
}

.page__body-do{
    width: 100%;
    height: 440px;
    background-color: white;
    margin-top: 2%;
}

.page__body-do-container{
    padding-top: 2%;
    margin-left: 5%;
}

.page__body-do-container-1{

}

.page__body-do-container-1 h4{
    color: rgb(46, 104, 211);
    font-weight: bold;
    font-family: 'Pangolin';
    font-size: 20px;
}

.page__body-do-container-1 h3{
    /* font-weight: bold; */
    font-size: 45px;
    font-family: sans-serif;
    color: #333;
}

.page__body-do-container-2{
    margin-top: 5%;
    display: flex;
}

.page__body-do-container-2-c{
    display: flex;
    margin: auto;
}

.page__body-do-container-2-item{
    width: 300px;
    height: 180px;
    margin-left: 1%;
}

.page__body-do-container-2-item h3{
    font-size: 30px;
    
}

.page__body-do-container-2-item p{
    line-height: 1.4;
}


/* Action */

.page__body-action{
    background-color: rgb(242,245,248);
    width: 100%;
    height: 650px;
}

.page__body-action-head{
    padding-top: 5%;
    margin-left: 21%;
}

.page__body-action-head-tittle{
    font-family: "varela round",Sans-serif;
    font-size: 40px;
    font-weight: 400;
    padding-left: 4%;
}

.page__body-action-head-des{
    margin-top: 1%;
    font-family: sans-serif;
}

.page__body-action-body{
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 3%;
    justify-content: space-evenly;
}

.page__body-action-body-volunteer{

}

.page__body-action-body-img{
    width: 400px;
    height: 300px;
    border-radius: 30px;
}

.page__body-action-body-link{
    margin-left: 26%;
    
}

.page__body-action-body-btn{
    width: 180px;
    height: 50px;
    background-color: rgb(253,180,0);
    color: #333;
    border: none;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    
}

.page__body-action-body-btn:hover{
    background-color: rgb(252, 193, 44);
}


/* Start Donate Page */

.page__body-donate{
    width: 100%;
    height: 400px;
    background-color: white;
    margin-top: 1%;
    display: flex;
}

.page__body-donate-c{
    margin: auto;
}

.page__body-donate-tittle{
    font-family: 'Pangolin';
    font-size: 40px;
    font-weight: 400;
    padding-left: 30%;
}

.page__body-donate-container{

}

.page__body-donate-form{
    margin-top: 10%;
}

.page__body-donate-form-label{
    font-family: 'Pangolin';
    font-size: 22px;
    font-weight: 400;
}

.page__body-donate-form-input{
    height: 35px;
    width: 350px;
    border: 1px solid #cfcece;
    border-radius: 4px;
}

.page__body-donate-type{
    width: 100%;
    height: 220px;
    background-color: white;
    display: flex;
}

.page__body-donate-type-c{
    margin: auto;
    margin-right: 26%;
}

.page__body-donate-type-tittle{
    font-family: 'Pangolin';
    font-size: 20px;
    font-weight: 400;
}

.page__body-donate-type-list{
    display: flex;
}

.page__body-donate-type-item{
    margin-left: 5%;
}

.page__body-donate-type-item-img{
    width: 230px;
    height: 150px;
    margin-top: 10px;
}

.page__body-donate-type-item input{
    width: 30px;
    height: 15px;
    
}

.page__body-donate-type-item-f{
    display: flex;
}

.page__body-donate-type-item-f h5{
    font-family: 'Pangolin';
    font-size: 16px;
    padding-top: 4px;
}

.page__body-donate-button{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
}

.page__body-donate-button a{
    margin: auto;
    margin-right: 45%;
    
}

.page__body-donate-button a button{
    width: 200px;
    height: 50px;
    background-color: rgb(253,180,0);
    color: #333;
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* End Donate Page */